/* first container css part start */
#h_container{
    display:flex;
    width: 92%;
   margin: auto;
   gap:20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 14px;
}
#h_r{
    margin-right: 15%;
}
#h_g{
    margin-right:-14% ;
}
#h_left{
    display: grid;
    grid-template-columns:  repeat(2,1fr);
    grid-template-rows: auto;
    gap:20px;
    grid-template-areas: 
    "a a"
    "b c"
    "d d";
   
}
#h_left img ,#h_right img {
   display: block;
}
#h_left>div,#h_right>div{
    position: relative;
}
#h_right>div>div{
    position: absolute;
    bottom:20px;
    right:30%;
    background-color: aliceblue;
    padding: 10px 30px 10px 30px;
 
}
#h_left>div>div{
    position: absolute;
    bottom:20px;
    right:40%;
    background-color: aliceblue;
    padding: 10px 30px 10px 30px;
}
#h_chair{
   margin-right: -60px;
}

#h_left>div:nth-child(1){
     grid-area:a;
     
}
#h_left>div:nth-child(2){
    grid-area:b;
}
#h_left>div:nth-child(3){
    grid-area:c;
}
#h_left>div:nth-child(4){
    grid-area:d;
}
#h_left img{
    width:100%;
}
#h_right {
    display: grid;
    grid-template-columns:  repeat(1,1fr);
    grid-template-rows: auto;

    grid-template-areas: 
    "a"
    "b"
    "c";
    gap:23px;
}
#h_right img{
    width:100%;
}
#h_container>div div :hover{
  text-decoration: underline;
  cursor: pointer;
}
#h_container :hover{
    cursor: pointer;
}

/* first container css part end */

/* getaway section css part start */

#h_getaway{
    width:92%;
    margin: auto;
    margin-top: 40px;
}
#h_getaway img{
    width:100%;
    display:block
}

 #h_getaway{
     position: relative;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 14px;
 }
 #h_getaway >div{
     position: absolute;
     bottom:20px;
     right:40%;
     background-color: aliceblue;
     padding: 10px 30px 10px 30px;
 }
 #h_getaway>div:hover{
    text-decoration: underline;
    cursor: pointer;
 }
 #h_getaway:hover{
     cursor: pointer;
 }
/* getaway section css part end */




 /* slider1 css part start */
 #h_slider1{
    font-family: 'Quicksand', sans-serif;
     width:93% ;
     margin: auto;
     margin-top: 50px;
 }


.h_container{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center; 
    margin-top: -25px;
}
/* .whole{
    display: grid;
    grid-template-columns: repeat(4,1fr);
} */
.h_container .slide img{
    /* margin-left: 70px; */
    display: inline-block;
   width:100%;
   height:100%;
   object-fit: contain;
   object-position: center;
}

.h_container .caption{
    /* width: 100%; */
    box-sizing: border-box;
    /* margin-left: 100px; */
    font-weight: bolder;
    font-weight: 800;
    font-size: 14px;
    color: black;
  
}
.h_container .caption:hover{
    color:rgb(92, 193, 233);
    cursor: pointer;
}
   

.h_container .arrow{
    cursor: pointer;
    position:absolute;
    top: calc(50% - 33px) ;
    color: black;
    background-color: rgb(251, 249, 246);
    padding: 14px 14px;
}
.h_container .next{
    right: 10px;
}
.h_container .prev{
    left: 10px;
}
.h_container .slide{
    /* display: none; */
    width: 350px; 
    height: 400px;
margin: 10px;
}
#h_logo1:hover{
    cursor: pointer;
   content: url("https://images.urbndata.com/is/image/Anthropologie/4130464030168_266_b?$an-category$&qlt=80&fit=constrain");
  
 }
 #h_logo2:hover{
     cursor: pointer;
     content: url("https://images.urbndata.com/is/image/Anthropologie/4130647160123_011_b2?$an-category$&qlt=80&fit=constrain");
 }
 #h_logo3:hover{
     cursor: pointer;
     content: url("https://images.urbndata.com/is/image/Anthropologie/4130348690163_050_b2?$an-category$&qlt=80&fit=constrain");
 }
 #h_logo4:hover{
     cursor: pointer;
     content: url("https://images.urbndata.com/is/image/Anthropologie/4130652010001_001_b2?$an-category$&qlt=80&fit=constrain");
 }
 #h_logo5:hover{
     cursor: pointer;
     content: url("https://images.urbndata.com/is/image/Anthropologie/4130226850014_081_b?$an-category$&qlt=80&fit=constrain");
 }
 #h_logo6:hover{
     cursor: pointer;
     content: url("https://images.urbndata.com/is/image/Anthropologie/4130916210071_028_b?$an-category$&qlt=80&fit=constrain");
 }
 #h_logo7:hover{
     cursor: pointer;
     content: url("https://images.urbndata.com/is/image/Anthropologie/57503047_913_b2?$an-category$&qlt=80&fit=constrain");
 }
 #h_logo8:hover{
     cursor: pointer;
     content: url("https://images.urbndata.com/is/image/Anthropologie/4130210690116_009_b?$an-category$&qlt=80&fit=constrain");
 }
 #h_logo9:hover{
     cursor: pointer;
     content: url("https://images.urbndata.com/is/image/Anthropologie/66262510_066_b2?$an-category$&qlt=80&fit=constrain");
 }
 #h_logo10:hover{
     cursor: pointer;
     content: url("https://images.urbndata.com/is/image/Anthropologie/4138348690017_049_b2?$an-category$&qlt=80&fit=constrain");
 }
/* slider1 css part end */


/* recently viewed css part start */
 #h_slider2{
    font-family: 'Quicksand', sans-serif;
    width:93% ;
    margin: auto;
    margin-top: 150px;
}
#h_recently_viewed{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    gap:20px;
    font-weight: 800;
    font-weight: bolder;
    font-size: 14px;
    margin-top: 20px;
}
#h_recently_viewed .caption{
   margin-top: 10px;
}
#h_recently_viewed>div>div:hover{
    color:rgb(92, 193, 233);
    cursor: pointer;
}
#h_recently_viewed img{
    width:100%;
  
}
/* recently viewed css part end */

/* more to explore css part  start  */

#h_more_to_explore{
    width: 93%;
    margin: auto;
    margin-top: 100px;
    font-family: 'Quicksand', sans-serif;
}
#h2_mte{
    text-align: center;
    
    font-size: 22px;
}

#mo_to_ex_box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap:20px;  
    margin-top: 30px;
}
#mo_to_ex_box img{
    width:100%;
}
#mo_to_ex_box h2{
    font-size: 22px;
}
#mo_to_ex_box p{
    font-size: 15px;
    font-weight: bolder;
}
#h_a{
    text-decoration: underline;
}
#mo_to_ex_box #h_last_mte{
    font-size: 14px;
    color: rgb(4, 123, 123);
    text-decoration: underline;
}
#mo_to_ex_box #h_last_mte:hover{
    text-decoration: none;
}
#h_about_us{
    width: 93%;
    margin: auto;
    margin-top: 40px;
    font-family: 'Quicksand', sans-serif;
}
#h_about_us #h_last_mte{
    font-size: 14px;
    color: rgb(4, 123, 123);
    text-decoration: underline;
}
#h_about_us #h_last_mte:hover{
    text-decoration: none;
}

#h_about_us p{
    font-size: 15px;
    font-weight: bolder;
}