#replacenavbar{
    display: flex;
    justify-content: center;
    background-color: #d8dccb;
    /* padding: 10px; */
}
.replacenavbar{
    padding: 5px 15px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.replacenavbar a{
   color: rgb(63, 61, 61);
}

#right button{
   
    border: none;
}
#right a{
    color: #167a92;
    border: none;
}
#left button{
    color: #167a92;
    border: none;
}
.onhover_green{
    color: white;
}
.onhover_green:hover{
    color: #26262c;
}


#language{
    background-color: #f7f6f2;
    border-bottom: 1px solid #f7f6f2;
    /* display: block; */
    display: flex;
    gap :20px;
    justify-items: center;
    padding: 10px;

    justify-content: flex-end;
    padding-right: 50px;
    
}
#search-box{
    padding: 10px;
    /* border:solid 1px #1d565d; */
    color: #1d565d;
    border: none;
}
#search{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 20px;
    border-bottom:solid 1px rgb(198, 194, 194);
  
}
#first{
    display: flex;
   
    height: 60px;
    align-content: center;
    justify-content: space-around;
}
#last{
    display: flex;
   margin: 10px;
   /* border: solid 1px red; */
   /* justify-content: center; */
    margin-right: 70px;
    align-content: center;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
    height: 100%;

}
#last1{
    display: flex;
    margin-top: 23px;

    border: solid 1px #1d565d;
    color: #1d565d;
    border-radius: 5px;
     align-content: center;
     align-items: center;
     justify-content: space-around;
     height: 100%;
     gap: 50px;
     padding: 5px 10px;
}
#toggle{
    display: flex;
    gap: 30px;
    margin: 15px 15px;
    color: #26262c;   
   font-family: 'Times New Roman', Times, serif;
    height: 100%;
    letter-spacing: .06rem;
   
}
#toggle div:hover{
    color: #046673;
    cursor: pointer;    
}

#a,#b{
    height: 100%;
    display: flex;
    margin-top: 23px;
    
    padding: 0px 15px 0px 15px;
    align-items: center;
    align-content: center;
    border:solid 1px rgb(198, 194, 194);
   border-bottom: none;
   
    justify-content: center;
   
}
#a{
    border-top: solid 4px
    
#167a92;
}
   


#footer{
    
    background-color: #f7f6f2;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

#signup_para{
  
    height: 100px;
    width: 45%;
}
#signup_para p{
    color: var(--text-medium);
    font-family: sans-serif;
    letter-spacing: .06rem;
   font-size: 14px;
    padding-bottom: 10px;
}

#sign_input{
 
    height: 100px;
    width: 45%;
}
#para a{
    color: #046673;
}
#para{
    color: var(--text-medium);
    font: Avenir Book,sans-serif;
    letter-spacing: .06rem;
   
    padding-bottom: 10px;
    font-size: 14px;

    padding: 0px 30px;
   
    margin-top: -20px;
    background-color: #f7f6f2;
}
#sign_input button{
    background-color: #4b5666;
    color: white;
    
}
#sign_input button,#sign_input input{
   padding: 10px 40px;

}

hr{
    background-color: #f7f6f2;
}
h3{
    color: #26262c;
    font-family: 'Times New Roman', Times, serif;
}
#footer2{
    
     height: 400px;
     background-color: #f7f6f2;
    
}
 #main{
   
    width: 80%;
    height: 100%;
    margin: auto;
    display: grid;
   
    font-style: normal;
    font-weight: 400;
    color: #26262c;
    
    font-size: 14px;
    grid-template-columns: repeat(5,22%);
}

li{
    color: #4c4745;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
    line-height: 18px;
}
ul {
    list-style-type: none;
   }

   li:hover {
    text-decoration: underline;
}
#twitter{
   
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #f7f6f2;
   padding-left: 10px;
}
#twitter span {
    
    background-color: #f7f6f2;
   padding-left: 10px;
}
#shine_img{
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 0px 0px 30px ;
    background-color: #f7f6f2;

}
#shine_img img{
    width: 90%;
    background-color: #f7f6f2;
}
#usa{
    display: flex;
   
    margin: auto;
    justify-content: center;
    background-color: #f7f6f2;
}
#term{
    width: 90%;
    display: flex;
   
    margin: auto;
    font-size: 12px;
    padding-top: 30px;
    background-color: #f7f6f2;
   
}
.term_condition_blueColor{
    color: #829cae;
    background-color: #f7f6f2;
}