body{
    background-attachment: fixed;
    background-size: cover;
    padding-top: 100px;
    background-image: url("https://www.linkpicture.com/q/IMG_20220505_161220.png")    
}

#h_box{
    width:28%;
    margin: auto;
    margin-top: -70px;
    overflow-y: scroll;
    height: 480px;
    padding: 30px 40px 50px 40px;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
svg{
    height: 20px;
    width:20px;
    margin-right: -15px;
}
#h_cross{
    display: flex;
    justify-content: flex-end;
}
#h_sign{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: -10px;
}
#hr1{
    margin-top:-10px ;
}
#h_text{
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}
#h_email{
    width:100%;
    height:38px;
}
#h_btn1{
    background-color: #4b5666;
    width: 102%;
    height:40px;
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

}
#h_btn2{
    background-color:white ;
    width: 102%;
    height:40px;
   border:1px solid black;
    color: #4b5666;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#h_text2{
    font-size: 14px;
    text-align: center;
   
    margin-top: -5px;
    margin-bottom: 30px;
}
#h_btn2:hover{
    background-color: #4b5666;
    color: white;
    border:none;
}
#h_btn1:hover{
    background-color:white ;
    color: #4b5666;
    border:none;
    border: 1px solid black;
}